* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

body{
    background-color: #efefef;
    margin: 0;
}

.page-header{
    background-color: white;
}

.Toboolist-logo{
    padding: 3px 0px 2px 13px;
    width: 180px;
}

.page-content{
    padding: 20px;
}

.page-content *{
    vertical-align: middle;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.bg-white{
    background-color: white;
}

/* Bottoni */
.buttons{
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
      }

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 3px;
    border-radius: 8px;
      }
      
.button1:hover {
    background-color: #008CBA;
    color: white;
        }

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    padding: 3px;
    border-radius: 8px;
      }
      
.button2:hover {
    background-color: #008CBA;
    color: white;
        }

hr{
    color: lightgrey;
    border: 1px solid;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 2px;
    padding: 15px 25px;
}

h2{
    margin: 0px;
}

.page-list-1{
    vertical-align: middle;
}

.list-item{
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}

.list-item-one{
    font-size: 13px;
    display: inline-block;
}

.check-ok{
    display: inline-block;
    margin-right: 6px;
    border: 1px solid green;
    border-radius: 500px;
    padding-left: 3px;
    height: 18px;
    width: 18px;
    color: green;
}

.check-no{
    display: inline-block;
    margin-right: 6px;
    border: 1px solid rgb(212, 6, 6);
    border-radius: 100px;
    padding-left: 3px;
    height: 18px;
    width: 18px;
    color: rgb(212, 6, 6);
}

.tag-blue{
    display: inline-block;
    margin: 0 5px;
    font-size: 10px;
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    padding: 0 5px;
    line-height: 17px;
    border-radius: 10px;
}

.tag-purple{
    margin: 0 5px;
    font-size: 10px;
    background-color: #a60ec8;
    color: white;
    border: 2px solid #a60ec8;
    padding: 0 5px;
    line-height: 17px;
    border-radius: 8px;
    display: inline-block;
}

.tag-green{
    margin: 0 5px;
    font-size: 10px;
    background-color: #18bf69;
    color: white;
    border: 2px solid #18bf69;
    padding: 0 5px;
    line-height: 17px;
    border-radius: 8px;
    display: inline-block;
}

.tag-orange{
margin: 0 5px;
    font-size: 10px;
    background-color: #e0b117;
    color: white;
    border: 2px solid #e0b117;
    padding: 0 5px;
    line-height: 17px;
    border-radius: 8px;
    display: inline-block;
}